<div class="card-box">
    <h4 class="header-title m-t-0 m-b-30">Candidat</h4>
    <div class="form-group">
        {{ form_label(form.lastName, 'Nom*', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.lastName, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
        {{ form_label(form.firstName, 'Prénom*', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.firstName, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.civilStatus, 'Etat Civil', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.civilStatus, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
        <label class="col-sm-1 control-label" for="applicant_lastName">Sexe</label>
        <div class="col-sm-5">
            <div class="radio radio-info radio-inline">
                <input type="radio" id="applicant_sexe_0" name="applicant[sexe]"
                value="H"{% if applicant is not defined or applicant.sexe == 'H' %} checked{% endif %}>
                <label for="applicant_sexe_0"> Homme </label>
            </div>
            <div class="radio radio-pink radio-inline">
                <input type="radio" id="applicant_sexe_1" name="applicant[sexe]"
                value="F"{% if applicant is defined and applicant.sexe == 'F' %} checked{% endif %}>
                <label for="applicant_sexe_1"> Femme </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.address, 'Adresse', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-11">
          {{ form_widget(form.address, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email1, 'Email1', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.email1, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
        {{ form_label(form.portable1, 'Port.1', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.portable1, {
              'attr': {
                  'class': 'form-control',
                  'data-mask': '99.99.99.99.99'
              },
            })
          }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email2, 'Email2', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.email2, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
        {{ form_label(form.portable2, 'Port.2', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.portable2, {
              'attr': {
                  'class': 'form-control',
                  'data-mask': '99.99.99.99.99'
              },
            })
          }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.cv, 'CV', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-10">
          {{ form_widget(form.cv, {
              'attr': {
                  'class': ''
              },
            })
          }}
          {{ form_errors(form.cv) }}
          {% if applicant is defined and applicant.cv is not null %}
            <span class="help-block">
                <small>Dernier ajout de CV le:
                    <a href="{{ path('applicant_download_cv', {'applicant': applicant.getId}) }}">
                        <mark>
                            {{ applicant.cvLastUpload|date("m/d/Y H:i") }}
                        </mark>
                    </a>
                </small>
            </span>
          {% endif %}
        </div>
    </div>
</div>
