<div class="card-box">
    <h4 class="header-title m-t-0 m-b-30">Candidat</h4>
    <div class="form-group">
        {{ form_label(form.firstName, 'Prénom', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.firstName, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
        {{ form_label(form.lastName, 'Nom', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-5">
          {{ form_widget(form.lastName, {
              'attr': {
                  'class': 'form-control'
              },
            })
          }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.cv, 'CV', {
            'label_attr': {
                'class': 'col-sm-1 control-label'
            }
          })
        }}
        <div class="col-sm-10">
          {{ form_widget(form.cv, {
              'attr': {
                  'class': ''
              },
            })
          }}
          {% if applicant is defined %}
            <span class="help-block">
                <small>Dernier ajout de CV le:
                    <a href="{{ path('applicant_download_cv', {'applicant': applicant.getId}) }}">
                        <mark>
                            {{ applicant.getCvLastUploaded|date("m/d/Y H:i") }}
                        </mark>
                    </a>
                </small>
            </span>
          {% endif %}
        </div>
    </div>
</div>
