<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}LexTeam Executive{% endblock %}</title>

    {% block plugins_css %}
      {% stylesheets
        'plugins/datatables/jquery.dataTables.min.css'
        'plugins/datatables/buttons.bootstrap.min.css'
        'plugins/datatables/fixedHeader.bootstrap.min.css'
        'plugins/datatables/responsive.bootstrap.min.css'
        'plugins/toastr/toastr.min.css'
        'plugins/select2/dist/css/select2.css'
        'plugins/select2/dist/css/select2-bootstrap.css'
        'plugins/bootstrap-sweetalert/sweet-alert.css'
        'plugins/switchery/switchery.min.css'
        'plugins/summernote/summernote.css'
        filter='cssrewrite'
        output='css/compiled/plugins.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}

    {% stylesheets
      'css/bootstrap.min.css'
      'css/core.css'
      'css/components.css'
      'css/icons.css'
      'css/pages.css'
      'css/menu.css'
      'css/responsive.css'
      'css/main.css'
      filter='cssrewrite'
      output='css/compiled/app.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}

    {% stylesheets
      'css/bootstrap.min.css'
      filter='cssrewrite'
      output='css/compiled/app.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% javascripts
      'js/libs/modernizr.min.js'
      output='js/compiled/modernizr.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
{% block navbar %}
{% include "navbar.html.twig" %}
{% endblock %}

  <div class="wrapper">
    <div class="container-fluid">
      {% block page_title %}
        <!-- Page-Title -->
        <div class="row">
            PAGE TITLE
        </div>
      {% endblock %}

      {% block body %}{% endblock %}

      {% block footer %}
        <!-- Footer -->
        <footer class="footer text-right">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        2017 © Lexteam Executive.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
      {% endblock %}
    </div>
    <!-- end container -->

      {% block right_sidebar %}
        <!-- Right Sidebar -->
        <div class="side-bar right-bar" style="display: none;">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class="">Derniers enregistrements</h4>
            <div class="notification-list nicescroll" style="overflow: hidden; outline: none;" tabindex="5000">
                <ul class="list-group list-no-border user-list">
                    {% for applicant in app.session.get('applicant') %}
                    <li class="list-group-item">
                        <a href="{{ path('applicant_view', {'applicant': applicant.id})}}" class="user-list-item">
                            <div class="user-desc">
                                <span class="name">{{ applicant.firstName }} {{ applicant.lastName }}</span>
                                <span class="desc">[CANDIDAT TYPE]</span>
                                <span class="time">Dernière modif: {{ applicant.lastUpdate|date("m/d/Y H:i") }}</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="ascrail2000" class="nicescroll-rails" style="width: 8px; z-index: 9999; cursor: default; position: absolute; top: 57px; left: 232px; height: 498px; display: none; opacity: 0;">
                <div style="position: relative; top: 0px; float: right; width: 6px; height: 0px; background-color: rgb(152, 166, 173); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"></div>
            </div>
            <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 8px; z-index: 9999; top: 547px; left: 0px; position: absolute; cursor: default; display: none; opacity: 0;"><div style="position: relative; top: 0px; height: 6px; width: 0px; background-color: rgb(152, 166, 173); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;"></div>
            </div>
        </div>
        <!-- /Right-bar -->
      {% endblock %}
  </div>

  {% block javascripts %}
    {% javascripts
        'js/libs/jquery.min.js'
        'js/libs/bootstrap.min.js'
        'js/libs/detect.js'
        'js/libs/fastclick.js'
        'js/libs/waves.js'
        'js/libs/wow.min.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}

  {% block plugins_js %}
    {% javascripts
        'plugins/bootstrap-sweetalert/sweet-alert.min.js'
        'plugins/datatables/jquery.dataTables.min.js'
        'plugins/datatables/dataTables.bootstrap.js'
        'plugins/datatables/dataTables.buttons.min.js'
        'plugins/datatables/buttons.bootstrap.min.js'
        'plugins/toastr/toastr.min.js'
        'plugins/parsleyjs/dist/parsley.min.js'
        'plugins/select2/dist/js/select2.min.js'
        'plugins/switchery/switchery.min.js'
        'plugins/summernote/summernote.min.js'
        'plugins/summernote/lang/summernote-fr-FR.js'
      output='js/compiled/plugins.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}

  {% block jqueries %}
    {% javascripts
        'js/libs/jquery.core.js'
        'js/libs/jquery.app.js'
      output='js/compiled/jqueries.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}

  {% block javascript_main %}
    {% javascripts
        'js/main.js'
        'js/users.js'
        'js/applicants.js'
        'js/search.js'
        output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}
  </body>
</html>
