<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>Lexteam<span>Executive</span></span>
                    <!--<span><img src="assets/images/logo.png" alt="logo" style="height: 20px;"></span>-->
                </a>
            </div>
            <!-- End Logo container-->

            <div class="navbar-custom navbar-left">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li>
                            <a href="{{ path('front_dashboard') }}">
                                <span><i class="zmdi zmdi-view-dashboard"></i></span>
                                <span> Dashboard </span>
                            </a>
                        </li>

                        <li class="has-submenu">
                            <a href="{{ path('applicant_home') }}"><span><i class="zmdi zmdi-layers"></i></span><span> Candidat </span> </a>
                        </li>
                    </ul>
                    <!-- End navigation menu  -->
                </div>
            </div>


            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                        <p id="navbar-username">
                            Utilisateur: {{ app.user.username }}
                        </p>
                    </li>
                    <li class="ms-hover" style="width:200px;padding-top:13px;margin-right:15px;">
                        <input id="search-select2" type="text"
                          placeholder="Recherche..." class="form-control"
                          data-url="{{ path('front_search') }}"
                          data-url-to-applicant="{{ url('applicant_view', {'applicant': '__id__'}) }}"/>
                    </li>
                    <li class="ms-hover">
                        <!-- Notification -->
                        <div class="notification-box">
                            <ul class="list-inline m-b-0">
                                <li class="ms-hover">
                                    <a href="javascript:void(0);" class="right-bar-toggle">
                                        <i class="zmdi zmdi-notifications-none"></i>
                                    </a>
                                    <div class="noti-dot">
                                        <span class="dot"></span>
                                        <span class="pulse"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Notification bar -->
                    </li>
                    <li class="dropdown user-box">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
                            <img src="{{ asset('/images/default_user.png') }}" alt="user-img" class="img-circle user-img">
                            <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
                        </a>

                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('user_manage') }}"><i class="ti-user m-r-5"></i> Gestion Utilisateurs</a></li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}"><i class="ti-power-off m-r-5"></i> Se Deconnecter</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                      <!-- End mobile menu toggle-->
                </div>
            </div>
        </div>
    </div>
</header>
