{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Gestion des utilisateurs</h4>
    </div>
</div>
{% endblock %}

{% block toastr %}
    {% for key, flash_message in app.session.flashBag.all() %}
        {% include "toastr.html.twig" with {
          type: key,
          title: 'Utilisateur',
          message: flash_message[0]
          }
        %}
    {% endfor %}
{% endblock %}

{% block parsley %}
<script type="text/javascript">
	$(document).ready(function () {
	  $('form').parsley();
	});
</script>
{% endblock %}

{% block datatable %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').dataTable({
      "bLengthChange": false,
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
      }
    });
  });
</script>
{% endblock %}

{% block select2 %}
<script type="text/javascript">
  $(".select2").select2({
    maximumSelectionSize: 1,
    formatSelectionTooBig: function (limit) {
      return 'Vous ne pouvez selectionner qu\'un rôle';
    }
  });
</script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Nouvel utilisateur</h4>
                <form action="{{ path('security_user_manage') }}" method="post" class="form-horizontal" role="form" data-parsley-validate novalidate>
                    <div class="form-group">
                        {{ form_label(form.username, 'Email*', {
                            'label_attr': {
                                'class': 'col-sm-4 control-label'
                            }
                          })
                        }}
                        <div class="col-sm-7">
                          {{ form_widget(form.username, {
                              'attr': {
                                  'parsley-type': 'email',
                                  'data-parsley-error-message': 'Un email est requis',
                                  'required': true,
                                  'class': 'form-control'
                              },
                            })
                          }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.roles, 'Role*', {
                            'label_attr': {
                                'class': 'col-sm-4 control-label'
                            }
                          })
                        }}
                        <div class="col-sm-7">
                          {{ form_widget(form.roles, {
                              'attr': {
                                  'data-parsley-error-message': 'Veuillez choisir un rôle pour cet utilisateur',
                                  'required': true,
                                  'class': 'select2'
                              },
                            })
                          }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'Mot de passe*', {
                            'label_attr': {
                                'class': 'col-sm-4 control-label'
                            }
                          })
                        }}
                        <div class="col-sm-7">
                          {{ form_widget(form.plainPassword.first, {
                              'attr': {
                                  'data-parsley-error-message': 'Un mot de passe est nécessaire',
                                  'required': true,
                                  'class': 'form-control'
                              },
                            })
                          }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Confirmation mot de passe*', {
                            'label_attr': {
                                'class': 'col-sm-4 control-label'
                            }
                          })
                        }}
                        <div class="col-sm-7">
                          {{ form_widget(form.plainPassword.second, {
                              'attr': {
                                'data-parsley-equalto': '#user_plainPassword_first',
                                'data-parsley-error-message': 'Les mots de passe doivent être identiques',
                                'required': true,
                                  'class': 'form-control'
                              },
                            })
                          }}
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                Enregistrement de l'utilisateur
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="card-box table-responsive">
            <h4 class="header-title m-t-0 m-b-30">Liste des utilisateurs</h4>
            <table id="datatable" class="table table-striped dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Role</th>
                        <th>Actif</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.getRoleUF }}</td>
                        <td>{{ user.isEnabled ? 'Oui' : 'Non' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
